<ion-content >
  
  <div class="bg-container">
    <ion-icon routerLink="/signup" name="arrow-back-sharp" style="font-size: 30px; color: white;">Login</ion-icon>

    <br>
    <br>
    <br>
  <ion-text style="color: orangered;  font-weight: bold; font-size: 25px; margin-left: 40px;">Events</ion-text>
  <br>

  <button style="background-color: orange; margin-top: 600px; color: white; height: 50px; margin-left: 50px; width: 130px; border-radius: 50px; font-weight: bold;">View Events</button>
  <button style="border: 1px solid orange; margin-top: 600px; font-weight: bold; height: 50px; margin-left: 20px; width: 130px; border-radius: 50px;">My Bookings</button>
  </div>
</ion-content>
