<ion-content>
  <br>
  <ion-icon routerLink="/home" name="arrow-back-sharp" style="font-size: 30px;">Login</ion-icon>

  <ion-text style="margin-left: 40px; color: orange; font-weight: bold; font-size: 20px;">Contact Us</ion-text>
  <br>
  <br>
  <ion-text style="font-size: 40px; color: orange; margin-left: 100px; ">VIPme</ion-text>
  <br>
  <br>
  <ion-text style="margin-left: 25px; font-size: 22px; font-weight: bold;">Use this form to contact us about Queries</ion-text>
  <br>
  <br>
  <br>
  <ion-label class="fn">Enter Your Name</ion-label>
  <ion-item class="ion-margin">    
    <ion-input appFirstCap  placeholder="Enter your Name"  type="text" clearInput="true" ></ion-input>
  </ion-item>
  <br>
  <ion-label class="ln">Enter your Email Address</ion-label>
      <ion-item class="ion-margin">    
        <ion-input appFirstCap  placeholder="Enter your Email Address"  type="text" clearInput="true" ></ion-input>
      </ion-item>
  <br>
  <ion-label class="email">Enter your Mobile Number</ion-label>
      <ion-item class="ion-margin">    
        <ion-input appFirstCap  placeholder="Enter your Mobile Number"  type="text" clearInput="true" ></ion-input>
      </ion-item>
  <br>
  <ion-input placeholder="Please mention your query here"></ion-input>
  <br>
  <div>
    <button class="cancel">Cancel</button>
    <button class="send">Send</button>
  </div>
</ion-content>
