<ion-content class="content">
  <div class="bg-container">
    <ion-icon routerLink="/signup" name="arrow-back-sharp" style="font-size: 30px; color: black;">Login</ion-icon>

    <div class="heading">About Us</div>
    <div class="vipme">VIPme</div>
    <div class="description"> EasyDiner has been created by a team that is extremely passionate about food, wine and all things fine.As a collective group of Chefs and Hoteliers who have worked in some of the best hotels and restuaranats around the world, we were always on the lookout for new dining experiences and exciting cuisines. It is this love and passion for eating and exploring that brought us together to create EasyDiner.
    <br>
    <br>
    <br>
    How often do you find yourself wondering, where you should go eat on a special occasion?. What are the newest and top eateries in town? What are the things you absolutely must try when visiting a particular restuarant? Can you save money while still dining at top restuarants of the city?
    </div>
</div>
</ion-content>
