<ion-content >
  <div >
 
  <ion-icon routerLink="/signup" name="arrow-back-sharp" style="font-size: 30px;">Login</ion-icon>

  <div class="description">
    A VIPme resturant reservation system lets customer reserve a table while restaurateurs oversee bookings, cancellations, and no-shows. Reservation software may also offer waitlist tools. visual table management features or allow you to handle digital pre-payments.
  </div>
  <p class="para1">Register As:</p>
  <button class="admin">Admin</button>
  <br>
  <button class="customer">Customer</button>
  </div>
</ion-content>
