<ion-content>
  <div>
    <ion-icon routerLink="/login" name="arrow-back-sharp" style="font-size: 30px; color: black;">Login</ion-icon>

    <div class="heading">Login</div>
    <br>
    <br>
   
    <br>
    <br>
    <div class="para2">Enter the OTP sent to you  <br> +914546860996 <a class="anchor">Edit</a> </div>
    <br>
    <input class="label" placeholder="          Enter OTP" >
    <br>
    <br>
    <br>
    <div class="para5">Didn't recieve OTP? <a class="anchor">Resend OTP</a></div>
    <br>
    <br>
   
    <br>
    <br>
    <button class="button">Login</button>
    <br>
    <br>
   
    <br>
    <br>
    
    <br>
  
  
    <br>
   
  
    </div>
    
</ion-content>
